sudo service mongod start

TODO:
1. Import the companies.json dataset into a mongodb collection
2. Using pymongo connect to the database and:
    1. From all the companies get first office, number of people and company name
    2. Convert it to GeoJSON format
    3. Insert it back to another mongodb collection
3. In another notebook or python file
    1. Query the newly created collection geospatially using $near operator and for each company calculate the nearest companies with radius R meters. Use R=100, R=1000 and R=10000
    2. For each company sum the results of the nearest companies and save all results in a JSON file containing an array with the following format: 
[ 
    {
        id: XXXX
        name: <company_name>, 
        office_location:<geojson_point_office_location>,
        nearest_workers:{ 
            “r=100”:9999,
            “r=1000”:9999,
            “r=10000”:9999,
        }
    },
    {…},
    {...}
]

4. Using the created json file, add it to tableau and create 3 sheets using geospartial plot.
5. Create a tableau story and present the results you’ve found

In [136]:
import pandas as pd
from pandas.io.json import json_normalize
import pymongo
from pymongo import MongoClient
from pprint import pprint
from geojson import Point
import numpy as np

In [137]:
client = MongoClient('localhost',27017)
db = client.local
collection = db.demofile

Cuento el número de registros para ver cómo es de grande mi  bbdd

In [138]:
registros=collection.count_documents({})
registros

5614

In [139]:
q=collection.find(projection={'name':1,'geopoint':1,'number_of_employees':1,'_id':0})
df=pd.DataFrame(list(q))
df.head()

,geopoint,name,number_of_employees
0,"{'type': 'Point', 'coordinates': [-122.333253,...",Wetpaint,47
1,"{'type': 'Point', 'coordinates': [-122.394523,...",Digg,60
2,"{'type': 'Point', 'coordinates': [-121.904945,...",Zoho,1600
3,"{'type': 'Point', 'coordinates': [-118.393064,...",Geni,18
4,"{'type': 'Point', 'coordinates': [-121.904945,...",AdventNet,600

Hago prueba  con la función de Marc con un una longitud y una latitud concretas para ver qué resultados arroja.

In [140]:
def geoQueryNear(geoJsonField, lat, lng, distance):
      return {geoJsonField: {"$near":{"$geometry": {"type":"Point","coordinates": [lat, lng]},"$maxDistance":distance}}}
    
        
result = collection.find(geoQueryNear('geopoint',-122.333253,47.603122, 100),projection={'name':1,'number_of_employees':1,'geopoint':1,'_id':0})

df2= pd.DataFrame(list(result))

Query the newly created collection geospatially using $near operator and for each company calculate the nearest companies with radius R meters. Use R=100, R=1000 and R=10000

Ahora defino una función para que, en función de la distancia, me devuelva las compañías que están en esa distancia para cada uno de los registros del db original. Compruebo antes que accedo de la manera correcta a la longitud y latitud

In [141]:
print(df['geopoint'][0])
print(df['geopoint'][2555]['coordinates'][0])
print(df['geopoint'][2555]['coordinates'][1])

{'type': 'Point', 'coordinates': [-122.333253, 47.603122]}
-73.1762626
40.8887993

DEfino la función con el parámetro distancia y creo una lista vacía para que añada por cada long y lat la suma del número de empleados de las empresas que están en ese radio

In [142]:
def radio(n):
    suma=[]
    for i in range(registros):
        lat= df['geopoint'][i]['coordinates'][0]
        long= df['geopoint'][i]['coordinates'][1]
        result= collection.find(geoQueryNear('geopoint',lat,long, n),projection={'number_of_employees':1,'_id':0})
        result=pd.DataFrame(list(result))    
        suma_emp= result['number_of_employees'].sum()
        suma.append(suma_emp)
        
    return suma
radio(100)
radio(1000)
radio(10000)

[4904,
 22265,
 4123,
 27719,
 4123,
 3558,
 22272,
 172940,
 173180,
 22265,
 394239,
 72947,
 415472,
 22272,
 22272,
 275322,
 944,
 3394,
 22263,
 40724,
 2892,
 172672,
 4920,
 330769,
 107440,
 262906,
 1535,
 1942,
 28949,
 172672,
 33,
 172673,
 297918,
 238976,
 67,
 22265,
 107,
 382669,
 22676,
 107,
 22272,
 344606,
 1278,
 53,
 22272,
 125215,
 670761,
 22272,
 12775,
 12775,
 2,
 19614,
 360953,
 126098,
 378072,
 4888,
 3174,
 22265,
 19311,
 110841,
 22272,
 22272,
 173185,
 22272,
 382669,
 509,
 4892,
 110247,
 22263,
 297918,
 22275,
 5020,
 76832,
 5277,
 4888,
 284,
 27183,
 74367,
 11025,
 107184,
 22265,
 4904,
 279,
 24,
 131249,
 22265,
 22265,
 1215,
 16254,
 90,
 40551,
 22480,
 126118,
 89730,
 375,
 22274,
 28202,
 319268,
 22272,
 9027,
 22265,
 509,
 5,
 298066,
 77049,
 403,
 82734,
 4121,
 22272,
 645903,
 22272,
 22265,
 2,
 5080,
 107014,
 176101,
 69076,
 55,
 11944,
 569,
 52,
 11881,
 22272,
 12775,
 22265,
 22272,
 191166,
 2892,
 22265,
 16573,
 380586,
 4890,
 172940,
 5142,
 191166,
 16,
 338381,
 2737,
 283,
 503,
 4888,
 5614,
 191166,
 298066,
 107246,
 414724,
 451,
 279,
 415397,
 26094,
 299039,
 173172,
 3154,
 2,
 26,
 47,
 8732,
 50,
 700,
 100,
 173180,
 286,
 2737,
 73,
 28664,
 22272,
 16841,
 0,
 30,
 22263,
 108426,
 546,
 22275,
 91078,
 22272,
 272992,
 60,
 22272,
 22272,
 22265,
 22272,
 11025,
 2737,
 2737,
 354,
 107026,
 172975,
 22272,
 22272,
 643950,
 73049,
 343533,
 109859,
 1720,
 2914,
 95702,
 3154,
 1624,
 354,
 40724,
 83,
 22497,
 1700,
 22265,
 47,
 1039,
 191166,
 191166,
 191166,
 29095,
 191166,
 22263,
 180,
 95917,
 14525,
 10204,
 877,
 107024,
 108574,
 172672,
 191166,
 16306,
 172940,
 172662,
 22265,
 5142,
 793,
 332169,
 172673,
 951,
 3,
 72986,
 22272,
 211556,
 173180,
 575,
 351578,
 7,
 155,
 4787,
 28894,
 22275,
 172933,
 32859,
 172975,
 5007,
 172940,
 1367,
 4482,
 52,
 22265,
 9,
 375,
 77049,
 895,
 5012,
 7,
 22480,
 25,
 77044,
 73351,
 488,
 4888,
 2103,
 5,
 1196,
 95765,
 176093,
 859,
 3179,
 2737,
 108592,
 60,
 173180,
 191166,
 125218,
 74953,
 1336,
 28947,
 10019,
 108592,
 173172,
 19318,
 318228,
 3956,
 1723,
 4912,
 952,
 16376,
 618,
 11025,
 22272,
 389094,
 16124,
 3199,
 79,
 1132,
 321,
 4110,
 100320,
 173180,
 125701,
 22272,
 377550,
 16653,
 373,
 0,
 28892,
 279,
 509,
 184,
 172940,
 106088,
 226,
 5008,
 4890,
 16399,
 16376,
 602,
 22272,
 47,
 1027,
 4,
 3692,
 208,
 0,
 856,
 7,
 1106,
 107024,
 211618,
 447,
 191166,
 4690,
 22272,
 22272,
 22355,
 16306,
 616,
 191166,
 1481,
 77049,
 1552,
 30231,
 1350,
 699,
 575,
 22272,
 84026,
 16436,
 211678,
 125215,
 414724,
 22265,
 60,
 8729,
 22272,
 110481,
 23,
 102,
 77332,
 651446,
 184151,
 72938,
 22272,
 671891,
 413420,
 172940,
 5,
 2100,
 4889,
 6746,
 6690,
 4413,
 279,
 177,
 389094,
 107180,
 2932,
 1624,
 22272,
 4301,
 73351,
 87,
 15944,
 16488,
 98,
 2102,
 1450,
 380933,
 1063,
 4888,
 4890,
 3973,
 1012,
 414064,
 1359,
 100,
 22182,
 2079,
 3749,
 403,
 3080,
 692,
 377692,
 793,
 95920,
 152,
 22275,
 16376,
 176076,
 7107,
 16544,
 1035,
 9444,
 178,
 5,
 200845,
 4888,
 110853,
 173180,
 1256,
 9,
 65,
 249,
 108592,
 86,
 360,
 17,
 0,
 22272,
 110853,
 191166,
 176116,
 191166,
 171578,
 22272,
 104872,
 22272,
 3147,
 843,
 211556,
 1032,
 173175,
 403,
 172975,
 279,
 812,
 90993,
 16342,
 30377,
 263122,
 16351,
 22272,
 237,
 1373,
 797,
 172936,
 90023,
 4,
 2864,
 113403,
 18570,
 649365,
 172937,
 172930,
 110,
 581433,
 89443,
 3834,
 191166,
 191166,
 47,
 170589,
 380586,
 265,
 11025,
 22265,
 191166,
 95980,
 172940,
 47,
 176093,
 785,
 105,
 16306,
 22297,
 16376,
 110681,
 1942,
 28948,
 30,
 191166,
 3063,
 28886,
 22265,
 461,
 191166,
 52,
 131,
 354,
 22265,
 2,
 1256,
 108694,
 22272,
 2737,
 107212,
 7,
 178,
 4679,
 414757,
 6,
 22272,
 22265,
 14525,
 51087,
 22580,
 113359,
 1032,
 297918,
 15944,
 95817,
 31,
 299,
 58,
 4,
 3063,
 163,
 52,
 140,
 1348,
 5,
 26969,
 716,
 3,
 90810,
 102609,
 1283,
 5008,
 737,
 28319,
 3,
 535303,
 169365,
 5277,
 4019,
 4691,
 577267,
 4888,
 22265,
 470,
 28692,
 763,
 172662,
 90993,
 176051,
 2,
 72877,
 270,
 552,
 415,
 5,
 5313,
 22272,
 172786,
 139,
 108592,
 96142,
 5172,
 100320,
 102,
 22272,
 574221,
 245,
 143,
 139,
 1,
 173185,
 22272,
 96942,
 1450,
 27,
 332005,
 5172,
 36,
 22297,
 17340,
 89730,
 4688,
 16713,
 4413,
 10,
 172975,
 374,
 28884,
 351,
 1,
 12775,
 4892,
 12836,
 22272,
 1898,
 1304,
 2102,
 1234,
 2102,
 5,
 172672,
 22265,
 108426,
 140,
 39,
 11025,
 11025,
 4890,
 33,
 22272,
 403,
 172672,
 74527,
 299142,
 451,
 1115,
 3212,
 168,
 467085,
 319265,
 69296,
 1032,
 279,
 1863,
 8,
 66,
 77040,
 47,
 3,
 88204,
 117,
 2,
 3,
 22272,
 179,
 33,
 110681,
 28894,
 2402,
 18,
 421307,
 22272,
 65,
 12,
 110853,
 11,
 6,
 2,
 88367,
 381104,
 65,
 107203,
 28884,
 173190,
 107,
 72974,
 172628,
 172975,
 110853,
 676,
 797,
 118,
 28947,
 8729,
 22272,
 17228,
 1032,
 173180,
 380738,
 438,
 3196,
 9577,
 32,
 1064,
 173190,
 176093,
 172940,
 106156,
 77044,
 716,
 3,
 147,
 4,
 8,
 1307,
 170589,
 3035,
 22265,
 12775,
 22272,
 125035,
 102609,
 193,
 526,
 80944,
 330761,
 16244,
 8,
 22272,
 380586,
 77049,
 172664,
 4890,
 172660,
 103,
 72,
 131324,
 1064,
 64,
 182,
 176084,
 2,
 9577,
 2100,
 35,
 173190,
 1359,
 3,
 22272,
 30374,
 4,
 315,
 1432,
 934,
 3,
 50878,
 3,
 172672,
 5,
 81,
 2,
 375,
 3212,
 172673,
 173180,
 176093,
 22265,
 22272,
 1563,
 22272,
 536,
 84000,
 2249,
 353,
 396889,
 22272,
 6,
 22272,
 28884,
 17594,
 2100,
 1918,
 4356,
 26,
 457,
 80,
 16124,
 172956,
 172673,
 1378,
 451,
 394150,
 799,
 73351,
 1557,
 172673,
 110827,
 45,
 52,
 503,
 1898,
 172673,
 6,
 173190,
 1348,
 28886,
 875,
 11,
 27,
 354,
 82,
 82,
 2,
 12,
 8138,
 1567,
 5012,
 6,
 569951,
 22265,
 211556,
 90,
 17001,
 18,
 4920,
 22182,
 4478,
 2,
 8820,
 11944,
 433,
 173190,
 7089,
 11025,
 172664,
 1236,
 139,
 25,
 15,
 177011,
 17001,
 16376,
 22480,
 28476,
 13,
 29140,
 108101,
 107203,
 12836,
 87662,
 298368,
 96,
 22272,
 16335,
 1304,
 345742,
 3909,
 205724,
 2737,
 107174,
 22263,
 532,
 40957,
 87,
 22570,
 179,
 388059,
 127,
 47,
 34,
 900,
 191166,
 5,
 5068,
 275830,
 324,
 802,
 9,
 22194,
 985,
 173180,
 131,
 8724,
 2113,
 764,
 389063,
 625,
 1346,
 5,
 534532,
 22265,
 393,
 8058,
 45,
 125215,
 1390,
 77040,
 76832,
 251,
 275016,
 253,
 210,
 110833,
 22480,
 3394,
 388988,
 569738,
 1662,
 1367,
 130,
 108724,
 90436,
 66,
 354,
 41162,
 110693,
 284,
 351,
 3359,
 281955,
 952,
 91166,
 1898,
 3,
 22265,
 10517,
 28882,
 4890,
 19,
 50,
 275386,
 16124,
 2103,
 28884,
 5,
 3147,
 3621,
 28884,
 110218,
 1887,
 403,
 107,
 108724,
 396889,
 172672,
 22274,
 5,
 4768,
 783,
 191166,
 3078,
 108679,
 28886,
 287,
 1196,
 172965,
 1304,
 172940,
 47,
 4,
 177,
 107,
 110853,
 173170,
 11,
 403,
 629,
 320,
 7138,
 225,
 660430,
 172930,
 3921,
 16136,
 873,
 173170,
 110681,
 257,
 102,
 77111,
 2102,
 108426,
 12,
 22265,
 26407,
 54,
 173180,
 22272,
 351,
 83371,
 513,
 22265,
 533,
 2875,
 12,
 176093,
 279,
 28807,
 900,
 5,
 2616,
 172930,
 521,
 31,
 191166,
 4688,
 661,
 28948,
 77180,
 260,
 77049,
 9,
 4408,
 107212,
 176076,
 1,
 191166,
 134,
 334006,
 193,
 1,
 259,
 ...]

Ahora añado cada lista al dataframe inicial

In [143]:
df['suma_100']= radio(100)
df['suma_1000']=radio(1000)
df['suma_10000']=radio(10000)
df.head()

,geopoint,name,number_of_employees,suma_100,suma_1000,suma_10000
0,"{'type': 'Point', 'coordinates': [-122.333253,...",Wetpaint,47,352,1722,4904
1,"{'type': 'Point', 'coordinates': [-122.394523,...",Digg,60,60,763,22265
2,"{'type': 'Point', 'coordinates': [-121.904945,...",Zoho,1600,2200,2732,4123
3,"{'type': 'Point', 'coordinates': [-118.393064,...",Geni,18,18,18,27719
4,"{'type': 'Point', 'coordinates': [-121.904945,...",AdventNet,600,2200,2732,4123

In [168]:
result = json_normalize(df['geopoint'])
result=result.drop(['type'],axis=1)
result.head()
total= pd.concat([df, result], axis=1)
total=total.drop(['geopoint'],axis=1)
tota