In [25]:
import numpy as np
import pandas as pd

data2015= pd.read_csv('/home/cristina/Ironhack/WEEK2/2015_happiness.csv')
display((data2015).head())

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7587.0,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7561.0,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7527.0,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7522.0,0.03880,1459.00000,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7427.0,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

#Elijo Kaggle porque no quiero tener problemas a la hora de convertir ficheros, pero todas las bases de datos que hay están bastante limpias (las que yo he chequedo), por lo que decido coger una que sea por lo menos interesante y sobre esa hacer todas las posibles operaciones que se me ocurran. Mi base de datos es un ranking de felicidad por países en función de determinadas variables, como la renta per cápita, la esperanza de vida o el nivel de corrupción del país. Hay 3 años, 2015-2016-2017. Comienzo descargando el primero que previamente he guardado en mi carpeta. Aquí el primer problema,se me olvida una contrabarra al inicio de la ruta y tardo hasta que veo donde está el problema. Una vez solucionado descargo los otros 3 años para empezar a trabajar

In [5]:
data2016= pd.read_csv('/home/cristina/Ironhack/WEEK2/2016_happiness.csv')
data2017= pd.read_csv('/home/cristina/Ironhack/WEEK2/2017_happiness.csv')

In [6]:
display((data2016).head())
display((data2017).head())

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7526.0,7.46,7592.00,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7509.0,7428.00,7.59,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7501.0,7333.00,7669.00,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7498.0,7421.00,7575.00,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7413.0,7351.00,7475.00,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

#Compruebo que las 3 bases de datos tienen la misma estructura de columnas, para ello saco la longitud de las columnas. El año 2016 tiene una columna adicional,13 en lugar de 12, para ver cual es imprimo las cabeceras por orden afabético para localizarla, pero cada uno de los años tiene un número de registros diferentes, por lo que deduzco que no se ha realizado la encuesta en los mismos países lso tres años, por lo que decido unir las tres tablas pero sólo teniendo en cuenta los países en los que la encuesta se haya realizado los 3 años.

In [7]:
len(data2015.columns)

12

In [8]:
len(data2016.columns)

13

In [9]:
len(data2017.columns)

12

In [42]:
data2015.columns.sort_values()

Index(['Country', 'Dystopia Residual', 'Economy (GDP per Capita)', 'Family',
       'Freedom', 'Generosity', 'Happiness Rank', 'Happiness Score',
       'Health (Life Expectancy)', 'Region', 'Standard Error',
       'Trust (Government Corruption)'],
      dtype='object')

In [43]:
data2016.columns.sort_values()

Index(['Country', 'Dystopia Residual', 'Economy (GDP per Capita)', 'Family',
       'Freedom', 'Generosity', 'Happiness Rank', 'Happiness Score',
       'Health (Life Expectancy)', 'Lower Confidence Interval', 'Region',
       'Trust (Government Corruption)', 'Upper Confidence Interval'],
      dtype='object')

In [44]:
data2017.columns.sort_values()

Index(['Country', 'Dystopia.Residual', 'Economy..GDP.per.Capita.', 'Family',
       'Freedom', 'Generosity', 'Happiness.Rank', 'Happiness.Score',
       'Health..Life.Expectancy.', 'Trust..Government.Corruption.',
       'Whisker.high', 'Whisker.low'],
      dtype='object')

#En realidad sólo hay una columna diferente, que es Region, hay otras dos en 2016-2017 que han nombrado de manera diferente, entiendo que Whisker.high en 2017 es lo mismo que Upper Confidence Interval en 2016, y  lo mismo sucede con Lower Confidence Interval y Whisker.low. Decido mantener esas columnas porque son similares y  respecto a Region, me parece interesante mantenerla e intentar rellenar con el mismo criterio los otros dos años, ya que lo más probable es que los índices más altos de felicidad se concentren en países europeos (aunque es sabido también que las tasas más altas de suicidio se concentran también en estos países, por lo que sería interesante cruzar el dataframe final con una tabla de este tipo).

**Conclusiones respecto a Columnas**:

    Renombraré las columnas con registros similares pero diferente encabezado
    Mantengo Region e intentaré rellenarlo cuando haga el merge

**Conclusiones respecto a Filas**:
Viendo los países por filas, durante el año 2016 se incluyeron dos países que no están ni en 2015 ni en 2017, a la hora de unir las tablas elimino estos registros para que los datos por año sean comparables

In [17]:
len(set(data2015['Country']))

155

In [18]:
len(set(data2016['Country']))

157

In [19]:
len(set(data2017['Country']))

155

#Pensaba renormbrar las columnas, pero en realidad no hace falta porque no las voy a usar, simplemente decido no seleccionarlas cuando haga los dataframes. Creo a continuación 3 dataframes con las mismas columnas para poder hacer un merge

In [32]:
df_2015= pd.DataFrame(data2015,columns =['Country','Region','Happiness Rank', 'Happiness Score','Economy (GDP per Capita)', 'Family','Freedom', 'Generosity', 
       'Health (Life Expectancy)','Trust (Government Corruption)'])

df_2016= pd.DataFrame(data2016,columns =['Country','Region','Happiness Rank', 'Happiness Score','Economy (GDP per Capita)', 'Family','Freedom', 'Generosity', 
       'Health (Life Expectancy)','Trust (Government Corruption)'])

df_2017= pd.DataFrame(data2017,columns =['Country','Region','Happiness Rank', 'Happiness Score','Economy (GDP per Capita)', 'Family','Freedom', 'Generosity', 
       'Health (Life Expectancy)','Trust (Government Corruption)'])

In [36]:
display((df_2017).head())

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Freedom,Generosity,Health (Life Expectancy),Trust (Government Corruption)
0,Norway,NaN,NaN,NaN,NaN,1.533524,0.635423,0.362012,NaN,NaN
1,Denmark,NaN,NaN,NaN,NaN,1.551122,0.626007,0.355280,NaN,NaN
2,Iceland,NaN,NaN,NaN,NaN,1.610574,0.627163,0.475540,NaN,NaN
3,Switzerland,NaN,NaN,NaN,NaN,1.516912,0.620071,0.290549,NaN,NaN
4,Finland,NaN,NaN,NaN,NaN,1.540247,0.617951,0.245483,NaN,NaN

#Al hacer el display de 2017 veo más valores NaN de los que esperaba (esperaba unicamente en Region) veo que las columnas de 2017 realmente no se llamaban exactamente igual por lo que vuelvo atrás para renombrar las columnas de 2017

In [54]:
data2017.columns.sort_values()
display(data2017.columns)

data2017.columns = ['Country', 'Happiness Rank', 'Happiness Score', 'Whisker high',
       'Whisker low', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Generosity',
       'Trust (Government Corruption)', 'Dystopia Residual']
data2017.columns
display(data2017.head())

Index(['Country', 'Happiness Rank', 'Happiness Score', 'Whisker high',
       'Whisker low', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Generosity',
       'Trust (Government Corruption)', 'Dystopia Residual'],
      dtype='object')

,Country,Happiness Rank,Happiness Score,Whisker high,Whisker low,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Dystopia Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [57]:
display((df_2017).head())
df_2017= pd.DataFrame(data2017,columns =['Country','Region','Happiness Rank','Happiness Score','Economy (GDP per Capita)', 'Family','Freedom', 'Generosity', 
       'Health (Life Expectancy)','Trust (Government Corruption)'])
df_2017.head()

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Freedom,Generosity,Health (Life Expectancy),Trust (Government Corruption)
0,Norway,NaN,1,7.537,1.616463,1.533524,0.635423,0.362012,0.796667,0.315964
1,Denmark,NaN,2,7.522,1.482383,1.551122,0.626007,0.355280,0.792566,0.400770
2,Iceland,NaN,3,7.504,1.480633,1.610574,0.627163,0.475540,0.833552,0.153527
3,Switzerland,NaN,4,7.494,1.564980,1.516912,0.620071,0.290549,0.858131,0.367007
4,Finland,NaN,5,7.469,1.443572,1.540247,0.617951,0.245483,0.809158,0.382612

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Freedom,Generosity,Health (Life Expectancy),Trust (Government Corruption)
0,Norway,NaN,1,7.537,1.616463,1.533524,0.635423,0.362012,0.796667,0.315964
1,Denmark,NaN,2,7.522,1.482383,1.551122,0.626007,0.355280,0.792566,0.400770
2,Iceland,NaN,3,7.504,1.480633,1.610574,0.627163,0.475540,0.833552,0.153527
3,Switzerland,NaN,4,7.494,1.564980,1.516912,0.620071,0.290549,0.858131,0.367007
4,Finland,NaN,5,7.469,1.443572,1.540247,0.617951,0.245483,0.809158,0.382612

#Ya están todas las columnas renombradas igual y aparecen los datos que esperabamos(sólo NaN en Region) por lo que puedo hacer el merge

In [68]:
Felicidad = pd.merge(df_2015,df_2016,df_2017, on = 'Country', how='outer')

TypeError: merge() got multiple values for argument 'how'

#El merge me da error porque en realidad estoy uniendo tres años diferentes pero no lo estoy indicando. Tengo que añadir una columna a cada dataframe donde indique a que año corresponde el dato. Voy a añadir